h1 {
  text-decoration: underline;
}

p {
  color: #40882a;
}

.voiture {
  width: 250px;
  height: 108px;
  position: relative;
  border-radius: 30px;
  transition-duration: 1s;
  transform: rotate(0deg);
  transform-origin: 50%,50%,0px;
}